.header-navbar {
    background-color: #222;
    border-bottom: 1px solid #fda400;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 4px;
}

.header-navbar a {
    color: #fda400;
    margin-left: 6px;
}